<div ng-controller="aquaverseCtrl" >

<h2>Latest Release</h2>

<ul>
  <li>
    <p>
      <b>{{releases[0].tag_name}}:
      {{releases[0].name}}</b>
    </p>
    <p>{{releases[0].published_at|date}}</p>
    <p class="markdown-body" ng-bind-html="releases[0].md"></p>
    <p><a href="{{releases[0].zipball_url}}">Download</a></p>
  </li>
</ul>

<h2>Previous Releases</h2>

<ul>
  <li ng-repeat="release in releases" ng-if="$index != 0">
    <p>
      <b>{{release.tag_name}}:
      {{release.name}}</b>
    </p>
    <p>{{releases[0].published_at|date}}</p>
    <p class="markdown-body" ng-bind-html="release.md"></p>
    <p><a href="{{release.zipball_url}}">[download]</a></p>
  </li>
</ul>

</div>
